@use "variables" as v;
@use "mixins" as m;

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}
body {
  color: v.$negro;
  font-family: v.$fuente_principal;
  font-size: 1.6rem;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.contenedor-admin {
  padding: 2rem 3rem 3rem;
  min-height: 100vh;
  margin-left: 0;
  transition: margin-left 0.5s ease;

  @include m.tablet {
    margin-left: 25rem;
  }

  &.min-contenedor-admin {
    margin-left: 0;
    @include m.tablet {
      margin-left: 8rem;
    }
  }
}

.contenedor-principal {
  width: 90%;
  margin:0 auto;
  .volver {
    margin: 2rem 0;
    @include m.tablet {
      margin: 1.7rem 0 0;
    }
  }
}

.contenedor-users {
  width: 90%;
  max-width: 120rem;
  min-height: 100vh;
  margin: 4rem auto;
  padding: 2rem 0;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  min-height: 100vh;
  padding: 3rem 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-sm {
  max-width: 100%;
  border-radius: 2rem;
  overflow: hidden;
  border: 1px solid #ea52f8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  @include m.tablet {
    display: flex;
    max-width: 60%;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
