// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;



// Colores
$azul: #0da6f3;
$rojo: #96242F;
$verde:#203D33;
$negro: #1a1b15;

$blanco: #FFFFFF;
$gris: #e1e1e1;

$purpura:#7066E0;

//posibles colores web personalizaada
$colorPosible: #5686E7;
$colorMagenta:#ea52f8;
$colorAzul:#3719FC;

// DISABLED INPUT
$colorDisabled:#E9ECEF;


$colorBordes : rgb(221, 221, 221);

// colores alertas

$borderRed : #FB6F70;
$bgRed:#F8D7DA;
$colorRed:#842029;

$bgGreen:#D1E7DD;
$borderGreen:#B2D6C6;
$colorGreen:#1D4C3A;


$colorSelected:#16C79A;


$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;


// GRADIENTES
// $gradienteLogin: linear-gradient(90deg, $colorMagenta, $colorAzul);


