@use "base/variables" as v;
@use "base/mixins" as m;

.container-landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem;
  color: v.$blanco;
  width: 100%;
  min-height: 100dvh;
  background: rgb(21, 13, 154);
  background: linear-gradient(
    148deg,
    rgba(21, 13, 154, 1) 0%,
    rgba(36, 15, 172, 0.9501050420168067) 50%,
    rgba(29, 174, 204, 1) 100%
  );

  @include m.tablet {
    padding: 0 4rem;
  }
}

.nav-landing {
  width: 100%;
  height: auto;
  padding: 2.5rem 0;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li {
    display: flex;
    align-items: center;
    gap: 1rem;

    h2 {
      cursor: pointer;
      margin: 0;
      color: v.$blanco;
      font-size: 1.7rem;
      span {
        color: v.$colorMagenta;
      }

      @include m.tablet {
        font-size: 2rem;
      }
    }

    .span-landing-icon {
      cursor: pointer;

      @include m.tablet {
        font-size: 3rem;
      }
    }
  }
}

.loginBtn {
  color: v.$blanco;
  transition: all 0.4s ease;
  outline: 1px solid v.$colorMagenta;
  font-weight: bold;
  border-radius: 1rem;
  padding: 0.8rem 1.3rem;

  @include m.tablet {
    font-size: 2rem;
    padding: 1rem 2rem;
  }
  &:hover {
    background-color: v.$colorMagenta;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 3rem;
  margin: 3rem 0;

  @include m.tablet {
    flex-direction: row;
    gap: 5rem;
  }

  div {
    h3,
    p {
      color: v.$blanco;
    }

    width: 100%;

    @include m.tablet {
      max-width: 50rem;
    }

    .boton {
      @include m.boton(v.$colorMagenta, v.$blanco);
      margin: 0;
      width: 100%;
      font-size: 2rem;
    }

    span {
      color: v.$colorMagenta;
      font-weight: bold;
    }
  }

  figure {
    order: -1;
    @include m.tablet {
      order: 1;
    }
    img {
      width: 30rem;
      border-radius: 2rem;

      @include m.tablet {
        width: 40rem;
      }
    }
  }
}

footer {
  padding: 1.5rem 0;
  p {
    text-align: center;
    color: v.$blanco;
  }
}
